:root {
    --image-size: 265px;
    --tool-box-width: 16em;
}

.Description {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.MyImage {
    width: var(--image-size);
    height: var(--image-size);
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 3px 3px 0 2px #888888;
    opacity: 0.25;
}

.DescriptionTextbox {
    height: var(--image-size);
    width: 40vw;

    border: 4px solid white;
    background-color: black;
    border-radius: 20px;
    box-shadow: 3px 3px 0 2px #888888;
}

.DescriptionTextbox.Tool {
    height: calc(var(--image-size) / 2.5);
    width: var(--tool-box-width);
}

.TextContainer {
    font-family: "Deltarune", sans-serif;
    font-size: 2.0em;
    padding: 0.7% 2%;
}

h1 {
    font-family: "Deltarune", sans-serif;
    justify-content: center;
}