:root {
    --image-size: 265px;
    --tool-box-height: calc(var(--image-size) / 2.5);
    --tool-visibility-button-size: 0.5;
    --tool-show-button-height: calc(var(--tool-box-height) * var(--tool-visibility-button-size));
    --description-low-x-height-multiplier: 0.85;
    --description-break-visibility: inline
}

.Description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.MyImage {
    width: var(--image-size);
    height: var(--image-size);
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 3px 3px 0 2px #888888;
    opacity: 0.25;
}

.DescriptionTextbox {
    height: var(--image-size);
    width: 40vw;

    border: 4px solid white;
    background-color: black;
    border-radius: 20px;
    box-shadow: 3px 3px 0 2px #888888;

    display: flex;
    align-items: center;
    font-family: "Deltarune", sans-serif;
}

@media (max-aspect-ratio: 8 / 10) {
    .Description {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .DescriptionTextbox {
        width: 85vw;
        height: calc(var(--image-size) * var(--description-low-x-height-multiplier));
    }
    :root {
        --image-size: 200px;
        --description-break-visibility: none;
    }
}

.DescriptionTextbox.Tool {
    height: var(--tool-box-height);
    width: var(--tool-box-width);
}

.DescriptionTextbox.ToolButton {
    height: var(--tool-show-button-height);
    min-width: calc(var(--tool-box-width) * var(--tool-visibility-button-size));
    width: min-content;
    padding-inline: 20px;

    justify-content: center;
    border-radius: 14px;
    color: white;
    font-size: 1.07em;
    white-space: nowrap;
}

.TextContainer {
    font-family: "Deltarune", sans-serif;
    padding: 0.7% 2%;
}

h1 {
    font-family: "Deltarune", sans-serif;
    justify-content: center;
}

.OptionalElement {
    display: var(--description-break-visibility);
}