@font-face {
    font-family: "Deltarune";
    src: url("./DeltaruneFont.ttf");
}

:root {
    --header-height: 3em;
    --section-link-size: 1;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.Header {
    position: fixed;
    z-index: 2;
    transform: translateY(calc(-1 * var(--header-height) * var(--section-link-size)));
    width: 100vw;
    height: calc(var(--header-height) * var(--section-link-size));
}

.HeaderSpace {
    width: 100vw;
    height: calc(var(--header-height) * var(--section-link-size));
}

.HeaderOptions {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--header-height) * var(--section-link-size));

    padding: 0 12.5%;
    transform: translateY(-0.1em);
}

.HeaderOptions a {
    --shadow-offset: calc(4px * var(--section-link-size));
    font-family: "Deltarune", sans-serif;
    text-shadow: var(--shadow-offset) var(--shadow-offset) 0px black;

    color: white;
    text-decoration: none;
    white-space: nowrap;
    font-size: calc(1.5em * var(--section-link-size));
}