@font-face {
    font-family: "Deltarune";
    src: url("./DeltaruneFont.ttf");
}

:root {
    --header-height: 3em;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.Header {
    position: fixed;
    z-index: 2;
    transform: translateY(calc(-1 * var(--header-height)));
    width: 100%;
}

.HeaderSpace {
    width: 100%;
    height: var(--header-height);
}

.HeaderOptions {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: clamp(1.25rem, 1.5rem, 1.75rem);
    padding: 0 12.5%;
    font-family: "Deltarune", sans-serif;
    text-shadow: 4px 4px 0px black;
}

.HeaderOptions a {
    color: white;
    text-decoration: none;
}