.TilingDiagonals {
    --diagonals-offset: 25px;

    width: 100%;
    height: 15em;
    position: relative;

    background-image: url("TiledDiagonals.png");
    background-repeat: repeat;
    background-position: var(--diagonals-offset) 0;
    image-rendering: pixelated;
}

.DiagonalsModulate {
    --modulate-color: #ab6339;
    --gradient-start: 0%;
    --gradient-end: 100%;

    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        #000000 0%,
        var(--modulate-color) var(--gradient-start),
        #000000 var(--gradient-end)
    );
    mix-blend-mode: multiply;
}

.Introduction {
    position: relative;
    inset: 0;
    z-index: 1;
    transform: translateY(7.5%);
    text-align: center;

    font-family: "Deltarune", sans-serif;
    text-shadow: 6px 6px 0px black;
}

.MyName {
    font-size: 5em;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 10%;
}