:root {
    --introduction-text-size: 1;
    --introduction-shadow-offset: calc(var(--introduction-text-size) * 6px);
}

.TilingDiagonals {
    --diagonals-offset: 25px;

    width: 100vw;
    height: calc(15em * var(--section-link-size));
    position: relative;

    background-image: url("TiledDiagonals.png");
    background-repeat: repeat;
    background-position: var(--diagonals-offset) 0;
    image-rendering: pixelated;
}

.DiagonalsModulate {
    --modulate-color: #ab6339;
    --gradient-start: 0%;
    --gradient-end: 100%;

    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        #000000 0%,
        var(--modulate-color) var(--gradient-start),
        #000000 var(--gradient-end)
    );
    mix-blend-mode: multiply;
}

.Introduction {  
    position: relative;
    inset: 0;
    z-index: 1;

    width: 100vw;
    height: 100%;
    text-align: center;
    font-size: calc(var(--introduction-text-size) * 1em);
    line-height: 5em;

    font-family: "Deltarune", sans-serif;
    text-shadow: var(--introduction-shadow-offset) var(--introduction-shadow-offset) 0px black;
    transform: translateY(70%);
}

.MyName {
    font-size: 5em;
    text-decoration: underline;
    text-decoration-thickness: calc(var(--introduction-text-size) * 5px);
    text-underline-offset: 10%;
}