:root {
    --tool-section-columns: 3;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 20%;
}

.ToolsSection {
    --tool-gap: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: var(--tool-gap);

    width: calc(
        (var(--tool-section-columns) + 1) * var(--tool-box-width)
      + (var(--tool-section-columns) - 1) * var(--tool-gap)
    );
}

.ToolsRoot {
    position: relative;
}

.ScrollingTools > * {
    position: absolute;
    top: 0;
    left: 0;
}