:root {
    --max-tool-section-columns: 3;
    --tool-gap: 30px;
    --tool-box-width: 265px;
    --colored-seperator-height: 4px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 20%;
}

.ToolsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: var(--tool-gap);

    max-width: 100%;
    width: calc(
        (var(--max-tool-section-columns) + 1) * var(--tool-box-width)
      + (var(--max-tool-section-columns) - 1) * var(--tool-gap)
    );
}

.ToolsRoot {
    position: relative;
}

.ScrollingTools > * {
    position: absolute;
    top: 0;
    left: 0;
}

.ToolButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(var(--tool-show-button-height) + var(--tool-gap) * 2);
}

.ToolButtonContainer.Filter {
    height: fit-content;
    gap: var(--tool-gap);
    flex-wrap: wrap;
    scale: 0.9;
}

.ToolSectionButtonSeperator {
    height: var(--tool-gap);
}

button {
    cursor: pointer;
}